@model IdentityRole
<div asp-validation-summary="All"></div>
<form method="post">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text"/>
    </div>
    <button>Add Role</button>
</form>