@model LoginModel
<form method="post">
    <div>
        <label asp-for="U">Username</label>
        <input type="text" asp-for="U" />
    </div>
    <div>
        <label asp-for="P">Password</label>
        <input type="text" asp-for="P" />
    </div>
    <div>
        <label asp-for="R">Remember me</label>
        <input type="checkbox" asp-for="R" />
    </div>
    <div>
        <button>Login</button>
        <a href="/auth/register">Register</a>
        <a href="/auth/forgot">Forgot Password</a>
    </div>
</form>
