<div asp-validation-summary="All"></div>
<form method="post">
    <div>
        <label>FullName</label>
        <input type="text" name="Fullname"></input>
    </div>
    <div>
        <label>Email</label>
        <input type="text" name="Email"></input>
    </div>

    <div>
        <label>Date Of Birth</label>
        <input type="date" name="DateOfBirth"></input>
    </div>

    <div>
        <label>Gender</label>
        <select name="Gender">
            <option value="0">Male</option>
            <option value="1">Female</option>
        </select>
    </div>
    <button>Save Change</button>
</form>