<ul>
    <li><a href="/upload/multiple">Multiple</a></li>
    <li><a href="/upload/folder">Folder</a></li>
    <li><a href="/upload/ajax">Ajax</a></li>
    <li><a href="/upload/ajaxMultiple">Ajax multiple</a></li>
    <li><a href="/upload/icon">Icon</a></li>
    <li><a href="/upload/zip">Zip</a></li>

</ul>