@model Address
<div asp-validation-summary="All"></div>
<form method="post">
    <div class="form_group"> 
        <label>Province</label>
        <select name="ProvinceId" asp-items="@ViewBag.provinces"></select>
    </div>
    <div>
        <label>District</label>
        <select name="DistrictId"></select>
    </div>
    <div>
        <label>Ward</label>
        <select asp-for="WardId"></select>
    </div>
    <div>
        <label>Address name</label>
        <input class="form-control" type="text" asp-for="Name"></input>
    </div>
    <div>
        <label>Phone</label>
        <input class="form-control" type="number" asp-for="Phone"></input>
    </div>
    <div>
        <label>Email</label>
        <input class="form-control" type="email" asp-for="Email"></input>
    </div>
    <div>
        <button class="btn btn-primary">Save</button>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {

            function getDistricts(pid) {
                $.ajax({
                    url: '/address/districts',
                    type: 'POST',
                    data: { id: pid },
                    success: function (data) {
                        console.log(data);
                        var districtSelect = $('select[name="DistrictId"]');
                        districtSelect.empty();
                        $.each(data, function (index, item) {
                            districtSelect.append($('<option>', { value: item.id, text: item.name }));
                        });
                        districtSelect.change();
                    }
                });
            }

            var pro = $('select[name="ProvinceId"]')
            getDistricts(pro.val());

            pro.change(function () {
                var provinceId = pro.val();
                getDistricts(provinceId);
            });



            function getWards(districtId) {
                $.ajax({
                    url: '/address/getwards',
                    type: 'POST',
                    data: { id: districtId },
                    success: function (data) {
                        var wardSelect = $('select[name="WardId"]');
                        wardSelect.empty();
                        $.each(data, function (index, item) {
                            wardSelect.append($('<option>', { value: item.id, text: item.name }));
                        });
                    }
                });
            }

            $('select[name="DistrictId"]').change(function () {
                var districtId = $(this).val();
                getWards(districtId);
            });
        });
    </script>
}  