@model ResetPasswordModel
<form method="post">
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <button>Reset Password</button>
    </div>
</form>