@model List<Microsoft.AspNetCore.Identity.IdentityUser>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>
                    <a href="/dashboard/user/roles/@user.Id">Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>