<form method="post" action="/stock/import">
    <button class="btn btn-primary" type="submit">Import</button>
</form>

<form method="get" action="/stock/search">
    <div>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate">
    </div>
    <div>
        <button>Search</button>
    </div>
</form>