<ul>
    <li><a href="/auth/login"> Log In</a></li>
    <li><a href="/auth/register">Register</a></li>
    <li><a href="/auth/logout">Log Out</a></li>
    <li><a href="/dashboard/user">Manage User</a></li>
    <li><a href="/Home/contact">Contact</a></li>
</ul> 