@model List<Major>
<a href="/major/add">Add New Major</a>

@section Scripts {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .ui-autocomplete-loading {
            background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script>
        $( function() {
          function log( message ) {
            $( "<div>" ).text( message ).prependTo( "#log" );
            $( "#log" ).scrollTop( 0 );
          }

          $( "#birds" ).autocomplete({
            source: "/major/search",
            minLength: 2,
            select: function( event, ui ) {
              log( "Selected: " + ui.item.value + " aka " + ui.item.id );
            }
          });
        } );
    </script>
}

<div class="ui-widget">
    <label for="birds">Birds: </label>
    <input id="birds" type="text" placeholder="Input major name">
</div>

<div class="ui-widget" style="margin-top:2em; font-family:Arial">
    Result:
    <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>

@if (TempData["Message"] != null)
{
    @* <div class="alert alert-success">
        @TempData["Message"]
    </div> *@

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Success</strong>
                <small>1 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <div class="alert alert-success">
                    @TempData["Message"]
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
        $('.toast').toast('show');
        });
    </script>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var major in Model)
        {
            <tr>
                <td>@major.MajorId</td>
                <td>@major.MajorName</td>
                <td>
                    <a href="/major/edit/@major.MajorId">Edit</a>
                    <a href="/major/delete/@major.MajorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>