USE [master]
GO
/****** Object:  Database [Store]    Script Date: 05/14/2025 16:17:08 ******/
CREATE DATABASE [Store] ON  PRIMARY 
( NAME = N'Store', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.FASTACCOUNTING\MSSQL\DATA\Store.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Store_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.FASTACCOUNTING\MSSQL\DATA\Store_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Store]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 05/14/2025 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandId] [tinyint] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON
INSERT [dbo].[Brand] ([BrandId], [BrandName]) VALUES (1, N'Sony')
INSERT [dbo].[Brand] ([BrandId], [BrandName]) VALUES (2, N'Apple')
INSERT [dbo].[Brand] ([BrandId], [BrandName]) VALUES (3, N'Samsung')
SET IDENTITY_INSERT [dbo].[Brand] OFF
